{% extends 'dashboard/base.html' %}

{% block content %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col">

                            <div class="h-100">
                                <div class="row mb-3 pb-1">
                                    <div class="col-12">
                                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                            <div class="flex-grow-1">
                                                <h4 class="fs-24 mb-1 g-msg"></h4>
                                            </div>
                                            <div class="mt-3 mt-lg-0">
                                                <form action="javascript:void(0);">
                                                    <div class="row g-3 mb-0 align-items-center">

                                                        <div class="col-auto">
                                                            <span class="badge p-2 fs-6 bg-success date-button"></span>
                                                        </div>

                                                    </div>
                                                    <!--end row-->
                                                </form>
                                            </div>

                                        </div><!-- end card header -->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0" style="text-align:center; font-size: xx-large;">Food Menu</h5>
                                                <h5 style="text-align:right; padding-right:30px; "> <a href="{% url 'food_menu' %}" class="btn rounded-pill btn-success waves-light">
                                                        <i class="ri ri-add-circle-line align-middle"></i> Add Data
                                                    </a></h5>
                                            </div>
                                            <div class="card-body">
                                              <div class="table-responsive">
                                                <table id="example"
                                                    class="table table-bordered dt-responsive nowrap table-striped align-middle"
                                                    style="width:100%">
                                                    <thead>
                                                        <tr><th>S.No</th>
                                                            
                                                            <th>Date</th>
                                                            <th>Morning Snacks</th>
                                                            <th>No of Resident</th>
                                                            <th>Breakfast</th>
                                                            <th>No of Resident</th>
                                                            <th>Lunch</th>
                                                            <th>No of Resident</th>
                                                            <th>Dinner</th>
                                                            <th>No of Resident</th>
                                                            {% comment %} <th>Action</th> {% endcomment %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                       {% for item in data %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>

                                                                <td>{{ item.date }}</td>
                                                                <td>{{ item.morning_snacks }}</td>
                                                                <td>{{ item.no_of_resident1 }}</td>
                                                                <td>{{ item.breakfast }}</td>
                                                                <td>{{ item.no_of_resident2 }}</td>
                                                                <td>{{ item.lunch }}</td>
                                                                <td>{{ item.no_of_resident3 }}</td>
                                                                <td>{{ item.dinner }}</td>
                                                                <td>{{ item.no_of_resident4 }}</td>
                                                                {% comment %} <td><a href="#" style="background: linear-gradient(to right, #2193b0, #6dd5ed);padding:6px 16px;border-radius:15px ;color:rgba(255, 255, 255, 0.863)"data-bs-toggle="modal" data-bs-target="#add_notes"
                                                                    data-bs-target=".edit_donor_search">Edit</a></td> {% endcomment %}
                                                            </tr>
                                                       {% endfor %}
                                                     </tbody>
                                                </table>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->

                            </div> <!-- end .h-100-->

                        </div> <!-- end col -->


                    </div>

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>
                                document.write(new Date().getFullYear())
                            </script> © Thaagam.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by ❤ M7 CORP
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    
    <div id="add_notes" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0 overflow-hidden">
                <div class="modal-header p-3">
                    <h4 class="card-title mb-0"> Edit</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            
                            <div class="col-md-5">
                                <label class="form-label fs-16">Date :</label>
                            </div>
                            <div class="col-md-7 mb-3">
                                <input type="date" class="form-control" name="Date" />
                            </div>
                            
                            <div class="col-md-5">
                                <label  class="form-label fs-16">Morning Snacks :</label>
                            </div>
                            <div class="col-md-7 mb-3">
                              <input type="text" class="form-control" name="Morning Snacks" />
                          </div>
                            <div class="col-md-5">
                                <label  class="form-label fs-16">No of Resident :</label>
                            </div>
                            <div class="col-md-7 mb-3">
                                <input type="text" class="form-control" 
                                    name="No of Resident" />
                            </div>
                            <div class="col-md-5">
                              <label  class="form-label fs-16"> Breakfast :</label>
                          </div>
                          <div class="col-md-7 mb-3">
                            <input type="text" class="form-control" 
                            name="Breakfast" />
                          </div>
                            <div class="col-md-5">
                              <label  class="form-label fs-16">No of Resident :</label>
                          </div>
                          <div class="col-md-7 mb-3">
                            <input type="text" class="form-control" 
                            name="No of Resident" />
                          </div>
                            <div class="col-md-5">
                              <label  class="form-label fs-16"> Lunch :</label>
                          </div>
                          <div class="col-md-7 mb-3">
                            <input type="text" class="form-control" 
                            name="Lunch" />
                          </div>
                            <div class="col-md-5">
                              <label  class="form-label fs-16"> No of Resident :</label>
                          </div>
                          <div class="col-md-7 mb-3">
                            <input type="text" class="form-control" 
                            name="No of Resident" />
                          </div>
                            <div class="col-md-5">
                              <label  class="form-label fs-16"> Dinner :</label>
                          </div>
                          <div class="col-md-7 mb-3">
                            <input type="text" class="form-control" 
                            name="Dinner" />
                          </div>
                            <div class="col-md-5">
                              <label  class="form-label fs-16"> No of Resident :</label>
                          </div>
                          <div class="col-md-7 mb-3">
                            <input type="text" class="form-control" 
                            name="No of Resident" />
                          </div>
                            
                          </div>
                        <div class="text-start mt-3">
                            <button type="submit" class="btn btn-danger">
                                submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>






</body>


    </html>


    <!-- JAVASCRIPT -->
  {%  endblock %}