<!-- templates/staff_dashboard.html -->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Staff Dashboard</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Welcome {{ staff.username }}</h1>-->
<!--    &lt;!&ndash; Add more content for staff dashboard &ndash;&gt;-->
<!--</body>-->
<!--</html>-->


<!-- staff_dashboard.html -->
<h1>Staff Dashboard</h1>
<p>Welcome, {{ staff.username }}!</p>
<!-- Add more content as needed -->
